@model Domain.Entities.University;


<button type="button" class="btn btn-default my-4 waves-effect z-depth-0" data-toggle="modal" data-target="#editUniversity">
    Edit
</button>

<div class="modal fade" id="editUniversity" tabindex="-1" role="dialog" aria-labelledby="editUniversity" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header default-color">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit University</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                    <form name="my-form" autocomplete="off" action="/UniversityAdmin/EditUniversityInfo" method="post">
                        <div class="form-group row">
                            <div class="col-sm">
                                <input type="text" class="form-control" value="@Model.Name" placeholder="Name" name="Name" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <input type="text" class="form-control" value="@Model.City" placeholder="City" name="City" autocomplete="nope" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <input type="text" class="form-control" value="@Model.Address" placeholder="Address" name="Address" autocomplete="nope" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <textarea type="text" class="form-control" style="resize: none" value="@Model.Description" placeholder="Description" name="Description" autocomplete="nope"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <input type="text" class="md-textarea form-control" value="@Model.LocationLink" placeholder="Location link" name="LocationLink" autocomplete="nope" />
                            </div>
                        </div>

                        <div class="text-left">
                            <button type="submit" class="btn btn-default my-4 waves-effect z-depth-0">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer default-color">
            </div>
        </div>
    </div>
</div>