@model List<Domain.Entities.Сampaign>;
@{
    ViewData["Title"] = "GetAllCampaigns";
}

<h1>  News:</h1>
<div class="list-group" id="list">

    @foreach (var item in Model)
    {
        <a asp-controller="SiteAdmin" asp-action="GetAllCampaigns" class="list-group-item list-group-item-action flex-column align-items-start active" id="camp-@item.Id">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Added new Camping</h5>
            </div>
            <p class="mb-1">
                Available from  @item.Start to  @item.End
            </p>
            <small>Status: @item.Status</small>
        </a>
    }

    @foreach (var item in ViewBag.universities)
    {
        <a asp-controller="SiteAdmin" asp-action="AllUniversities" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Added new University</h5>
            </div>
            <p class="mb-1">
                Name: @item.Name
            </p>
            <small>City: @item.City</small>
        </a>
    }


</div>

@section Scripts{
    <script>

        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/siteadmin/newsser")
            .build();
        hubConnection.on('CreateCampaign', function (from,to,status,id) {

           

            var node = document.createElement("a");         
            node.className = 'list-group-item list-group-item-action flex-column align-items-start active text-white';
            var div = document.createElement("div");
            div.className = 'd-flex w-100 justify-content-between';
            var h = document.createElement("h5");
            h.className = 'mb-1';
            var textnode = document.createTextNode("Added new Camping");
            h.appendChild(textnode);
            div.appendChild(h);
            node.appendChild(div);

            var p = document.createElement("p");
            p.className = 'mb-1';
            textnode = document.createTextNode("Available from "+from+' to '+to);
            p.appendChild(textnode);
            node.appendChild(p);
            var small = document.createElement("small");     
         
            textnode = document.createTextNode("Status:"+status);
            small.appendChild(textnode);
            node.appendChild(small);
            node.id='camp-'+id
            document.getElementById("list").appendChild(node);

        });

         hubConnection.on('DeleteCampaign', function (id) {

           

            var elem = document.getElementById('camp-'+id);
             elem.parentNode.removeChild(elem);
         

         });

          hubConnection.on('AddUniversity', function (name) {

           
              
            var node = document.createElement("a");         
            node.className = 'list-group-item list-group-item-action flex-column align-items-start active  text-white';
            var div = document.createElement("div");
            div.className = 'd-flex w-100 justify-content-between';
            var h = document.createElement("h5");
            h.className = 'mb-1';
            var textnode = document.createTextNode("Added new University");
            h.appendChild(textnode);
            div.appendChild(h);
            node.appendChild(div);

            var p = document.createElement("p");
            p.className = 'mb-1';
            textnode = document.createTextNode("Name: "+name);
            p.appendChild(textnode);
            node.appendChild(p);
            var small = document.createElement("small");     
         
            textnode = document.createTextNode("City: unk");
            small.appendChild(textnode);
            node.appendChild(small);
          
            document.getElementById("list").appendChild(node);
         

        });

        hubConnection.start();
    </script>
}