@model Application.Models.UniversityAdmin.CurrentUniversityAndFacultiesModel;
@{
    ViewData["Title"] = "University";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-7">
            @if (Model.Faculties != null)
            {
                <table class="content-table table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" style="text-align: center">Faculty</th>
                        <th scope="col" style="text-align: center">Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var faculty in Model.Faculties)
                    {
                        <tr style="text-align: center" onclick="window.location = '@Url.Action("GetFaculty", "UniversityAdmin", new {id = faculty.Id})'">
                            <td>
                                <h5>
                                    @faculty.Name
                                </h5>
                            </td>
                            <td>
                                <h5>
                                    @faculty.Address
                                </h5>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <h1>There are no faculties yet</h1>
            }

        </div>

        <div class="col-3 text-center">
            <div class="card">
                <div class="card-body">
                    <div class="row m-0 p-0">
                        <div class="col-sm m-0 p-0">
                            @if (Model.CurrentUniversity.Photo != null)
                            {
                                <img class="universityphoto p-0" src="~/universitiesphotos/@Model.CurrentUniversity.Photo" />
                            }
                            else if (User.IsInRole("UniversityAdmin") && ViewBag.iseditable)
                            {
                                <a onclick="uploadphotoclicked()">
                                    <img class="uploadphoto" src="~/systemphotos/upload.png" />
                                </a>

                                <form id="photoform" name="my-form" autocomplete="nope" action="/UniversityAdmin/UploadUniversityPhoto?id=@Model.CurrentUniversity.Id" method="post" enctype="multipart/form-data">
                                    <input type="file" name="uploadedFiles" class="photoupload" id="fileinputid"
                                           aria-describedby="inputGroupFileAddon01" accept="image/*">
                                </form>
                            }
                            else
                            {
                                <p class="h4 text-center py-4">University Info</p>
                            }
                        </div>
                    </div>
                    <form>
                        <input type="text" id="" class="form-control" value="@Model.CurrentUniversity.Name" readonly>

                        <label for="" class="grey-text font-weight-light">City</label>
                        <input type="text" id="" class="form-control" value="@Model.CurrentUniversity.City" readonly>

                        <label for="" class="grey-text font-weight-light">Description</label>
                        <textarea type="text" id="" class="form-control" readonly>@Model.CurrentUniversity.Description</textarea>


                        <label for="" class="grey-text font-weight-light">Address</label>
                        <input type="text" id="" class="form-control" value="@Model.CurrentUniversity.Address" readonly>

                        <br>

                        @if(Model.CurrentUniversity.LocationLink!=null){
                            <iframe src="@Model.CurrentUniversity.LocationLink" frameborder="0" style="border: 0" allowfullscreen></iframe>
                        }

                        @if (User.IsInRole("UniversityAdmin") && ViewBag.iseditable)
                        {
                            <button class="btn btn-default btn-block my-4 waves-effect z-depth-0"
                                    onclick="window.location.href = '@Url.Action("EditUniversityInfo", "UniversityAdmin", Model.CurrentUniversity)';return false;">
                                <i></i>Edit
                            </button>

                            <div class="col-1 m-0 p-0">

                                @await Html.PartialAsync("/Views/PopUpWindows/AddFacultyPopUp.cshtml")
                            </div>
                        }

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

