@model Application.Models.UniversityAdmin.CurrentUniversityAndFaculties;
@{
    ViewData["Title"] = "University";
}


<div class="container">
    <div class="row">
        <div class="col-9">
            @if (Model.Faculties != null)
            {
                <table class="content-table table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center">Name</th>
                            <th scope="col" style="text-align: center">Address</th>
                            <th scope="col" style="text-align: center">Description</th>
                            @if (User.IsInRole("UniversityAdmin"))
                            {
                                <th scope="col" style="text-align: center"></th>
                            }
                        </tr>
                    </thead>

                    @foreach (var faculty in Model.Faculties)
                    {
                        <tr style="text-align: center" ;>
                            <td>
                                <h3>
                                    @faculty.Name
                                </h3>
                            </td>
                            <td>
                                <h3>
                                    @faculty.Address
                                </h3>
                            </td>
                            <td>
                                <h3>
                                    @faculty.Description
                                </h3>
                            </td>
                            @if(User.IsInRole("UniversityAdmin"))
                            {
                                <td>
                                    <button class="btn btn-default btn-block my-4 waves-effect z-depth-0" onclick="location.href = '@Url.Action()'">
                                        <i class="far mr-2" aria-hidden="true"></i>
                                        Edit
                                    </button>
                                </td>
                            }
                        </tr>
                    }

                </table>
            }
            else
            {
                <h1>There are no faculties yet</h1>
            }
            
            @if (User.IsInRole("UniversityAdmin"))
            {
                <button class="btn btn-default my-4 waves-effect z-depth-0" onclick="location.href = '@Url.Action("AddFaculty", "UniversityAdmin")'">
                    <i></i>Add Faculty
                </button>
            }


        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <form>
                        <p class="h4 text-center py-4">Info</p>

                        <label for="" class="grey-text font-weight-light">Name</label>
                        <input type="text" id="" class="form-control" value="@Model.CurrentUniversity.Name" readonly>

                        <label for="" class="grey-text font-weight-light">City</label>
                        <input type="text" id="" class="form-control" value="@Model.CurrentUniversity.City" readonly>

                        <label for="" class="grey-text font-weight-light">Description</label>
                        <textarea type="text" id="" class="form-control" value="@Model.CurrentUniversity.Description" readonly></textarea>

                        <label for="" class="grey-text font-weight-light">Address</label>
                        <input type="text" id="" class="form-control" value="@Model.CurrentUniversity.Address" readonly>

                        @if (User.IsInRole("UniversityAdmin"))
                        {
                            <button class="btn btn-default btn-block my-4 waves-effect z-depth-0"
                                    onclick="window.location.href = '@Url.Action("EditUniversityInfo", "UniversityAdmin", Model.CurrentUniversity)'; return false;">
                                <i></i>Edit
                            </button>
                        }
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

