@model Application.Models.User.UserProfileModel;

<form name="my-form" autocomplete="nope" action="/User/ChangePassword" method="post">
    <div class="form-group row">
        @Html.LabelFor(m => m.ChangePasswordModel.OldPassword, new {@class = "col-md-3 control-label"})
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.ChangePasswordModel.OldPassword, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.ChangePasswordModel.NewPassword, new {@class = "col-md-3 control-label"})
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.ChangePasswordModel.NewPassword, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.ChangePasswordModel.ConfirmNewPassword, new {@class = "col-md-3 control-label"})
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.ChangePasswordModel.ConfirmNewPassword, new {@class = "form-control"})
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-default my-4 waves-effect z-depth-0">Update</button>
    </div>
</form>