@model Application.Models.User.UserProfileModel;
    <form name="my-form" action="/User/PersonalInfo" method="post">


        <div class="form-group row">
            <label for="Znos" class="col-sm-2 col-form-label">First Zno </label>
            <div class="col-sm-5">
                <div class=" oneline">
                    @Html.DropDownListFor(
m => m.LastName,
new SelectList(Model.ZNOs, "Value", "Key")
)

                </div>
                <div class="col-sm-5 oneline">
                    <input type="text" class="form-control elem" placeholder="Mark" name="Zno1" value="@Model.City" required="" />

                </div>


            </div>




        </div>
        <div class="form-group row">
            <label for="Znos" class="col-sm-2 col-form-label">Second Zno </label>
            <div class="col-sm-5">
                <div class=" oneline">
                    @Html.DropDownListFor(
m => m.LastName,
new SelectList(Model.ZNOs, "Value", "Key")
)

                </div>
                <div class="col-sm-5 oneline">
                    <input type="text" class="form-control elem" placeholder="Mark" name="Zno1" value="@Model.City" required="" />

                </div>


            </div>




        </div>
        <div class="form-group row">
            <label for="Znos" class="col-sm-2 col-form-label">  Third Zno
            </label>
            <div class="col-sm-5">
                <div class=" oneline">
                    @Html.DropDownListFor(
m => m.LastName,
new SelectList(Model.ZNOs, "Value", "Key")
)

                </div>
                <div class="col-sm-5 oneline">
                    <input type="text" class="form-control elem" placeholder="Mark" name="Zno1" value="@Model.City" required="" />

                </div>


            </div>




        </div>
        <div class="form-group row">
            <label for="Znos" class="col-sm-2 col-form-label">Four Zno </label>
            <div class="col-sm-5">
                <div class=" oneline">
                    @Html.DropDownListFor(
m => m.LastName,
new SelectList(Model.ZNOs, "Value", "Key")
)

                </div>
                <div class="col-sm-5 oneline">
                    <input type="text" class="form-control elem" placeholder="Mark" name="Zno1" value="@Model.City" required="" />

                </div>


            </div>




        </div>

        <div>
            <button type="submit" class="btn btn-default my-4 waves-effect z-depth-0">Update</button>
        </div>
    </form>

@section Scripts{

    <script>
  $(document).ready(function() {
$('.mdb-select').materialSelect();
});
    </script>
}