@model Application.Models.User.UserProfileModel;

    <form name="my-form" action="/User/PersonalInfo" method="post">
        <div class="form-group row">
            <label for="Email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control elem" placeholder="Email" name="Email" value="@Model.Email" readonly required="" />
            </div>
        </div>
        <div class="form-group row">
            <label for="LastName" class="col-sm-2 col-form-label">Last name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control elem" placeholder="Last name" name="LastName" value="@Model.LastName" required="" />
            </div>
        </div>
        <div class="form-group row">
            <label for="FirstName" class="col-sm-2 col-form-label">First name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control elem" placeholder="First name" name="FirstName" value="@Model.FirstName" required="" />
            </div>
        </div>
        <div class="form-group row">
            <label for="MiddleName" class="col-sm-2 col-form-label">Middle name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control elem" placeholder="Middle name" name="MiddleName" value="@Model.MiddleName" required="" />
            </div>
        </div>
        <div class="form-group row">
            <label for="City" class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-10">
                <input type="text" class="form-control elem" placeholder="City" name="City" value="@Model.City" required="" />
            </div>
        </div>
        <div class="form-group row">
            <label for="Phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control elem" placeholder="Phone" name="Phone" value="@Model.Phone" />
            </div>
        </div>
        <div class="form-group row">
            <label for="DateOfBirth" class="col-sm-2 col-form-label">Date of birth</label>
            <div class="col-sm-10">
                <input type="date" class="form-control elem" placeholder="Date of birth" name="DateOfBirth" value="@Model.DateOfBirth" />
            </div>
        </div>

        <div class="form-group row">
            <label for="Znos" class="col-sm-2 col-form-label">First Zno </label>
            <div class="col-sm-5">
                <div class="dropdown oneline">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Zno
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item">Math</a>
                        <a class="dropdown-item">Geography</a>
                        <a class="dropdown-item">Ukrainian</a>
                        <a class="dropdown-item">History</a>
                        <a class="dropdown-item">English</a>
                        <a class="dropdown-item">French</a>
                        <a class="dropdown-item">Spanish</a>
                        <a class="dropdown-item">French</a>
                        <a class="dropdown-item">Germany</a>
                        <a class="dropdown-item">Biology</a>
                        <a class="dropdown-item">Physics</a>
                        <a class="dropdown-item">Chemistry</a>
                    </div>
                </div>
                <div class="col-sm-5 oneline">
                    <input type="text" class="form-control elem" placeholder="Mark" name="Zno1" value="@Model.City" required="" />

                </div>


            </div>


        </div>
        <div class="form-group row">
            <label for="Znos" class="col-sm-2 col-form-label">Second Zno</label>
            <div class="col-sm-5">
                <div class="dropdown oneline">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Zno
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item">Math</a>
                        <a class="dropdown-item">Geography</a>
                        <a class="dropdown-item">Ukrainian</a>
                        <a class="dropdown-item">History</a>
                        <a class="dropdown-item">English</a>
                        <a class="dropdown-item">French</a>
                        <a class="dropdown-item">Spanish</a>
                        <a class="dropdown-item">French</a>
                        <a class="dropdown-item">Germany</a>
                        <a class="dropdown-item">Biology</a>
                        <a class="dropdown-item">Physics</a>
                        <a class="dropdown-item">Chemistry</a>
                    </div>
                </div>
                <div class="col-sm-5 oneline">
                    <input type="text" class="form-control elem" placeholder="Mark" name="Zno2" value="@Model.City" required="" />

                </div>


            </div>


        </div>
        <div class="form-group row">
            <label for="Znos" class="col-sm-2 col-form-label">Thrid Zno </label>
            <div class="col-sm-5">
                <div class="dropdown oneline">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Zno
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item">Math</a>
                        <a class="dropdown-item">Geography</a>
                        <a class="dropdown-item">Ukrainian</a>
                        <a class="dropdown-item">History</a>
                        <a class="dropdown-item">English</a>
                        <a class="dropdown-item">French</a>
                        <a class="dropdown-item">Spanish</a>
                        <a class="dropdown-item">French</a>
                        <a class="dropdown-item">Germany</a>
                        <a class="dropdown-item">Biology</a>
                        <a class="dropdown-item">Physics</a>
                        <a class="dropdown-item">Chemistry</a>
                    </div>
                </div>
                <div class="col-sm-5 oneline">
                    <input type="text" class="form-control elem" placeholder="Mark" name="Zno3" value="@Model.City" required="" />

                </div>


            </div>


        </div>
        <div class="form-group row">
            <label for="Znos" class="col-sm-2 col-form-label">Fourh Zno</label>
            <div class="col-sm-5">
                <div class="dropdown oneline">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Zno
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item">Math</a>
                        <a class="dropdown-item">Geography</a>
                        <a class="dropdown-item">Ukrainian</a>
                        <a class="dropdown-item">History</a>
                        <a class="dropdown-item">English</a>
                        <a class="dropdown-item">French</a>
                        <a class="dropdown-item">Spanish</a>
                        <a class="dropdown-item">French</a>
                        <a class="dropdown-item">Germany</a>
                        <a class="dropdown-item">Biology</a>
                        <a class="dropdown-item">Physics</a>
                        <a class="dropdown-item">Chemistry</a>
                        <a class="dropdown-item">None</a>
                    </div>
                </div>
                <div class="col-sm-5 oneline">
                    <input type="text" class="form-control elem" placeholder="Mark" name="Zno4" value="@Model.City" required="" />

                </div>


            </div>


        </div>

        <div>
            <button type="submit" class="btn btn-cyan btn-sm">Update</button>
        </div>
    </form>